@use "./partials/palette" as *;
@use "./partials/variables" as *;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: $shark;
    text-decoration: none;
}

h6 {
    font-size: .8rem;
    font-weight: 700;
    color: $dove-gray;
}

h2 {
    color: $lima-dark;
    font-size: 2rem;
    font-weight: 700;
}

.container {
    width: 80%;
}

.active {
    color: $lima;
}